$font-size: 16px;

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    .slider-label {
        font-size: $font-size;
        font-weight: 600;
    }
    .slider-value {
        font-size: 14px;
        color: red;
        margin-left: 10px;
    }
    .slider {
        width: 25vw;
    }
    .slider-min-max {
        display: flex;
        width: 25vw;
        justify-content: space-between;
        font-size: 14px;
        color: red;
    }
}