$sub-color: rgb(14, 17, 23);
$main-color: rgb(40, 40, 40);
$border-radius: 4px;
$font-family: 'Mooli', 'Pacifico';
html {
  min-height: 100%;
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $sub-color;
  scrollbar-color: $main-color $sub-color;
}

body::-webkit-scrollbar {
  background-color: $sub-color;
  border-radius: 10px;
}


body::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 10px;
}

* {
  font-family: $font-family;
  box-sizing: border-box;
}

#app {
  min-width: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
