$sub-color: rgb(14, 17, 23);
$main-color: rgb(40, 40, 40);
$border-radius: 4px;
$font-size: 16px;
.side-bar {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    font-size: $font-size;
    color: white;

    .top-buttons-container {
        display: flex;
        justify-content: space-between;
        .sign-in-link {
            background-color: $main-color;
            color: white;
            border: 1px white solid;
            border-radius: $border-radius;
            margin: 10px;
            padding: 5px 10px;
        }
        .sign-in-link:hover {
            color: red;
            border: 1px red solid;
        }
        
        .side-bar-close-button{
            background: none;
            border: none;
            color: gray;
            font-weight: 900;
            font-size: larger;
            width: fit-content;
            cursor: pointer;
        }   
    }
}
